*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .2s linear;
}

/* 

preto #02010a
azul escuro #04052e
vermelho #ff4000
branco #eff8e2
azul claro #3d52d5
roxo esc #291528    
*/

header{
    background-color: #ff4000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4%;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #eff8e2;
    text-transform: uppercase;
}

header .navbar a{
    color: #eff8e2;
    font-size: 1.4rem;
    margin: 0 .2rem;
    text-transform: uppercase;
}


header .navbar a:hover{
    color: #02010a;
}

header .icons i{
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
    color: #02010a;
}

header .search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ff4000;
    border-top: .1rem solid #eff8e2;
    height: 86px;
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);/* Vai esconder o menu de busca junto com Js*/
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100%  100%, 0 100%);/* Vai fazer aparecer o menu de busca junto com Js*/
}

header .search-bar-container #search-bar{
    width: 100%;
    padding: 0.8rem;
    text-transform: uppercase;
    color: #02010a;
    font-size: 1.7rem;
    border-radius: .5rem;
}

header .search-bar-container label{
    color: #02010a;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
    border-radius: .5rem;
}

header .search-bar-container label:hover{
    color: #ff4000;
}

.login-form-container{

    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -172px;
    z-index: 10000;
}

.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background-color: #fff;
    width: 50rem;
}

.login-form-container form h3{
    font-size: 3rem;
    color: #444;
    text-transform: unset;
    text-align: center;
    text-transform: uppercase;
}